

/* Primary CSS */
body {
	margin: 0 auto;
	background-color: #fff;;
	width: 100%;
	font-family: gothamBold, Tahoma, sans-serif;
}

h1 {
	font-family: drukSuper, Tahoma, sans-serif;
	font-size: 2.5rem;
  margin: 2rem 0;
}

h2, h3, h4, h5, h6 {
	font-family: gothamBook, Tahoma, sans-serif;
}

p {
  font-family: gothamBook, Tahoma, sans-serif;
  font-size: 1rem;
}

a {
	color: #233036;
	text-decoration: none;
  background-image: linear-gradient(
    to right,
    #f28022,
    #f28022 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

a:hover {
 background-position: 0;
}

.noMargin {
	margin: 0;
}

.active {
	color: #f28022;
	border-bottom: 0.15rem solid #f28022;
}

.drukSuper {
  font-family: drukSuper, Tahoma, sans-serif;
}

.drukHeavy {
  font-family: drukHeavy, Tahoma, sans-serif;
}

.gothamBold {
  font-family: gothamBold, Tahoma, sans-serif;
}

.gothamBook {
  font-family: gothamBook, Tahoma, sans-serif;
}


/* Color Pallet */
.white {
	color: #fff;
}

.light {
	color: #95a6b2;
}

.mid {
	color: #375b6d;
}

.dark {
	color: #233036;
}

.accentOrg {
	color: #f28022;
}

.accentBlue {
	color: #42c0b9;
}


/* Background Color Pallet */
.whiteBg {
  background-color: #fff;
}

.lightBg {
	background-color: #95a6b2;
}

.midBg {
	background-color: #375b6d;
}

.darkBg {
	background-color: #233036;
}

.accentOrgBg {
	background-color: #f28022;
}

.accentBlueBg {
	background-color: #42c0b9;
}



/* Header */
header {
  background-color: #fff;
}

.contactBanner {
	height: 3rem;
	text-align: center;
}

.alertContacts {
	padding-top: 0.8rem;
	font-family: gothamBook, Tahoma, sans-serif;
}

.topLinks {
  color: #fff;
  text-decoration: none;
  background-image: none;
  -webkit-text-fill-color: #fff;
}

nav {
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.logoContainer {
	max-width: 33%;
}

.logo {
	width: 13rem;
	padding: 0rem 2rem;
}

.desktopNav {
	display: flex;
  justify-content: end;
  list-style-type: none;
  margin: auto 1rem;
}

menu li {
	padding: 0rem 1.1rem;
  height: 2rem;
}


/* Mobile Nav */
.mobile {
  display: flex;
}

.mobileNav {
  max-width: 1.5rem;
  max-height: 1.5;
  -webkit-filter: invert(1);
  filter: invert(1);
  padding: 1.7rem;
  padding-right: 2rem;
  display: none;
  transition: 0.4s ease;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #323331;
  margin: 0.4rem 0;
  border-radius: 1rem;
  transition: 0.3s;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -14px) rotate(45deg);
}

.mobileNavContainer {
  background-color: #fff;
  position: absolute;
  width: 10rem;
  height: 100%;
  right: -31rem;
  width: 50%;
  transition: 0.6s ease;
}

.slide {
  right: 0rem;
}

.mobileNavLinks {
  padding: 0;
  list-style: none;
}

.mobileNavLinks li {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}


/* Main */
main {
  overflow: hidden;
  position: relative;
}

.panelContainer {
  display: flex;
  justify-content: space-between;
}

.topContentContainer {
  display: flex;
  justify-content: space-between;
  height: 45rem;
  background-color: #375b6d;
}

.topContent {
  width: 90%;
  height: 90%;
  margin: auto;
  display: inherit;
  justify-content: inherit;
  border-radius: 2rem;
}

.topWritten {
  width: 40%;
  padding: 2rem 1rem 0rem 3rem;
}

.topImgContainer {
  display: flex;
  justify-content: center;
  height: auto;
  width: 60%;
}

.topImg {
  width: auto;
  height: 100%;
  border-radius: 2rem;
  max-width: 55rem;
  display: block;
}

.btnsContainer {
  margin: 2rem 0;
}

.topBtns {
  border-radius: 1rem;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1rem;
  transition-duration: .3s;
}

.topBtns:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
}

.mobileTopImgContainer {
  width: 100%;
  display: inherit;
  justify-content: center;
}

.mobileTopImg {
  width: 100%;
  height: auto;
}

/* Floating Panels for second main panel */
.floatContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 2%;
}

.floater {
  width: calc(33.33333% - 1rem);
  height: auto;
  background-color: #375b6d;
  color: #fff;
  border-radius: 2rem;
  margin: 0.5rem;
  padding-bottom: 1rem;
}

.floatImg {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.floatText{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.floatText p {
  margin: 0;
}

.margin {
  margin: 2.5rem auto;
}

.marginEdit {
  margin: 1rem 0rem;
}

.floatTitleContainer {
  width: 90%;
  text-align: center;
  margin: 0rem auto 1rem auto;
}


/* Review Section */
.reviewContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto;
}

.reviewStars {
  width: 7rem;
}

#reviewFloater {
  padding: 1.5rem;
  background-color: #fff;
  color: #000;
  width: 27%;
  border-radius: 0;
}




/* Footer */
footer {
  height: 5rem;
}




/* ---- Media Queries ---- */
/* All Desktops */
@media screen  and (min-width: 1024px) {
  .mobileTopImgContainer {
    display: none;
  }
  .floatTitleContainer h2 {
    font-size: 2rem;
  }
}

/* Big Desktops and more */
@media screen  and (min-width: 1475px) {
  .mobileNavContainer {
    display: none;
  }
}

/* Small Desktops */
@media screen and (min-width: 1024px) and (max-width: 1585px) {
  .mobileNavContainer {
    display: none;
  }
  .topImg {
    width: 100%;
    height: 50%;
  }
  .topImgContainer {
    margin: auto;
    width: 50%;
  }
  h1 {
    font-size: 2rem;
    margin-top: 10%;
  }
  h2 {
    font-size: 1.2rem;
  }
}

/* Tablets & Mobiles */
@media screen and (max-width: 1024px) {
  .mobileNav {
    display: inline-block;
  }
  .desktopNav {
    display: none;
  }
  .hideTablet{
    display: none;
  }
  .topContentContainer {
    height: auto;
    display: block;
    background-color: #fff;
  }
  .topImgContainer {
    display: none;
  }
  .topContent {
    width: 100%;
    border-radius: 0;
  }
  .topWritten {
    padding: 1rem;
    width: 95%;
    display: inherit;
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
  .margin {
    margin: 0rem auto;
  }
  #reviewFloater {
    width: 100%;
    margin: 1rem;
  }
  .floatTitleContainer {
    margin: auto;
  }
}

/* Tablets */
@media screen and (max-width: 1024px) and (min-width: 650px) {
  .hideTablet{
    display: none;
  }
  .floater {
    width: calc(50% - 1rem);
  }
}

/* Mobiles */
@media screen and (max-width: 650px){
  #menuToggle {
    width: 75%;
  }
  .hideMobile {
    display: none;
  }
  .logo {
    padding-left: 1rem;
  }
  .topWritten {
    padding: 0rem 1rem 1rem 0.5rem;
  }
  .floater {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .floatContainer {
    padding: 0;
  }
  .floatImg {
    border-radius: 0;
  }
}


/* Font Families */
@font-face { font-family: drukSuper; src: url('fonts/DrukTextWide-Super-Trial.otf'); }
@font-face { font-family: drukHeavy; src: url('fonts/DrukTextWide-Heavy-Trial.otf'); }
@font-face { font-family: gothamBold; src: url('fonts/Gotham-Bold.otf'); }
@font-face { font-family: gothamBook; src: url('fonts/Gotham-Book.otf'); }